<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2eaff19d8e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename= 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'stylesheets/contact.css')}}">
<!--    <link rel="stylesheet" href="contact.css">-->
    <title>deepMOA</title>
</head>
<body style="background-color: black;">
    <header class="header">
            <nav class="navbar navbar-style navbar-expand-lg navbar-header">
                <div class="container">
                        <a class = "navbar-brand" href="{{ url_for('reroute') }}">
                            <h3 style="color:white; text-transform: none;">deepMOA</h3>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                    <!-- </div> -->
                    <div class="collapse navbar-collapse" id="micon">
                    <ul class="navbar-nav navbar-right nav-pills mr-auto">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('reroute') }}">Home</a></li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Create Model</a>
                       
                        <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" > -->
                           

                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item drp-model" href="{{ url_for('start') }}"> Graph Convolution Network </a>
                          <a class="dropdown-item drp-model" href="{{ url_for('attnstart') }}">Attentive FP</a>
                          <a class="dropdown-item drp-model" href="{{ url_for('graphattnstart') }}">Graph Attentive Network</a>
                          <a class="dropdown-item drp-model" href="{{ url_for('dagstart') }}">Directed Acyclic Graph</a>
                          
                         </div> 
                        
                      </li>
 
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('result') }}">Results</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('tut') }}">Tutorial</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('dataset') }}">Datasets</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{{ url_for('contact') }}">Contact</a></li>
                    </ul>
                </div>
                </div> 
            </nav>
        </header>


    <div class = "page"> 
        <div class = "form-box" style="background-color: black;">
            <form id = "contact" method="post" class="input-group">
                <h1>Get in Touch!</h1>
                <input type="text" class="input-field" placeholder="Name" id="Name" name="Name" required>
                <input type="text" class="input-field" placeholder="Email" id="Email" name="Email" required>
                <input type="text" class="input-field" placeholder="Title" id="Title" name="Title" required>
                <textarea name="Message" cols="30" rows="10" class="input-field" id="Message" placeholder="Message"></textarea>
                <button type="submit" class="submit-btn btn-light">Submit</button>
            </form>
        </div>
    </div>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename= 'js/bootstrap.min.js') }}"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>

</body>
</html>